{% extends 'base.html' %}
{% block experiences %}
<div class="container">
    {% load static %}
    <div class='text-center'>
        <img src="{% static 'experience-ico.png' %}" alt='' class='inline-block h-12 md:h-14 pb-2'>
        <h1 class='inline-block text-gray-900 font-extrabold font-sans text-xl mb-4 lg:mb-8'>EXPERIENCES</h1>   
    </div>
    <div class="flex flex-col md:grid grid-rows-4 grid-cols-9 mx-auto p-2 text-black">
        
    {% for experience in experiences reversed %}
    {% cycle 'col-start-1 col-end-5 ml-auto' 'col-start-6 col-end-10 mr-auto' as col_number silent %}
    {% cycle 'col-start-6 col-end-10 mr-auto' 'col-start-1 col-end-5 ml-auto' as col_date silent %}
    {% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' as row_number silent %}

        <div class="flex flex-row-reverse md:contents">
            <a href='{{ experience.link }}' class="bg-white row-start-{{ row_number }} {{ col_number }} p-2 my-2 shadow-md hover:shadow-2xl">
                <h3 class="font-semibold text-blue-900 text-base md:text-lg mb-1">{{ experience.title }}</h3>
                <p class='text-xs md:text-sm md:text-base font-bold'>{{ experience.company }}</p>
                <p class='italic text-xs md:text-sm'>{{ experience.location }}</p>
                <p class='italic text-gray-500 text-xs md:hidden'>{{ experience.start_date }} - {{ experience.end_date }}</p>
                <p class="text-xs md:text-base text-justify md:py-2">{{ experience.description|linebreaksbr }}</p>
            </a>

            <div class="col-start-5 col-end-6 md:mx-auto relative mr-5">
                <div class="h-full w-6 flex items-center justify-center">
                    <div class="h-full w-1 bg-white pointer-events-none"></div>
                </div>
                <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-blue-500 shadow"></div>
            </div>

            <div class="row-start-{{ row_number }} {{ col_date }} flex my-auto hidden md:block">
                <div class="mx-auto font-extrabold text-lg">{{ experience.start_date }} - {{ experience.end_date }}</div>
            </div>

        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
