{% extends 'base.html' %}
{% block index %}


{% load static %}
<div class="grid gap-8 lg:gap-16 grid-cols-1 lg:grid-cols-2">
    <div class='bg-white row-start-1 lg:col-start-1 shadow w-full mx-auto p-4 lg:row-span-2'>
        <img src="{% static 'profile.jpeg' %}" alt='profile image' class="shadow rounded-full h-3/4 my-auto mx-auto border-none">
        <div class='font-bold text-center text-2xl md:text-3xl mt-4 md:mt-8'>Pierre MERLET</div>
        <div class='text-center text-xl lg:text-2xl'>Data Analyst</div>
    </div>

    <div class='bg-white row-start-4 lg:row-start-1 lg:col-start-2 shadow w-full mx-auto pb-4'>
        <div class='flex w-1/2 mx-auto font-extrabold py-4 text-center text-sm md:text-base lg:text-xl'>Looking for me ?</div>
        <table class='table-fixed w-5/6 mx-auto text-xs md:text-base'>
            <tbody>
                <tr>
                    <td class='w-12 p-2 lg:p-0 lg:py-2'><img src="{% static 'github-ico.png' %}" alt='github icon' class="shadow rounded-full"></td>
                    <td><a href='https://github.com/PierreMrt' class='ml-2 lg:ml-8 hover:text-blue-500'>www.github.com/PierreMrt</a></td>
                </tr>
                <tr>
                    <td class='w-12 p-2 lg:p-0 lg:py-2'><img src="{% static 'linkedin-ico.png' %}" alt='linkedin icon' class="shadow rounded-full"></td>
                    <td><a href='https://www.linkedin.com/in/pierre-merlet-553028a9/' class='ml-2 lg:ml-8 hover:text-blue-500'>www.linkedin.com/</a></td>
                </tr>
                <tr>
                    <td class='w-12 p-2 lg:p-0 lg:py-2'><img src="{% static 'email-ico.png' %}" alt='email icon' class="shadow rounded-full"></td>
                    <td><a href='mailto:merlet.pierre@outlook.com' class='ml-2 lg:ml-8 hover:text-blue-500'>merlet.pierre@outlook.com</a></td>
                </tr>
                <tr>
                    <td class='w-12 p-2 lg:p-0 lg:py-2'><img src="{% static 'phone-ico.png' %}" alt='phone icon' class="shadow rounded-full"></td>
                    <td class=''><a href='tel:+33 6 61 26 36 90' class='ml-2 lg:ml-8 hover:text-blue-500'>+33 6 61 26 36 90</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='flex flex-col mx-auto row-start-3 lg:row-start-2 lg:col-start-2 text-white text-sm md:text-xl w-full'>
        <div class='flex place-content-center space-x-4 md:space-x-16 mx-auto w-full h-1/3 lg:h-1/5  mb-8 md:mb-8 md:mb-12'>
            <a href="{% static 'resume.pdf' %}" class='inline-block rounded w-auto px-4 py-2 bg-gray-700 hover:bg-blue-900'>Download CV</a>
            <a href='mailto:merlet.pierre@outlook.com' class='inline-block rounded w-auto px-4 py-2 bg-gray-700 hover:bg-blue-900'>Contact me</a>
        </div>
        <div class='flex flex-col bg-white shadow h-2/3 w-full text-black md:text-base lg:text-xl py-2'>
            <span class='font-extrabold mx-auto md:py-2'>languages spoken</span>
            <div class='flex flex-row place-content-center space-x-8 lg:space-x-12 h-2/3 w-full text-black md:text-base py-2'>
                <p class='flex flex-col h-2/3 justify-between h-full'>
                    <img src="{% static 'france-ico.png' %}" alt='French' class='h-auto w-12 md:w-16 mx-auto rounded'>
                    <span class='hidden md:block md:pt-2'>Mother tongue</span></p>
                <p class='flex flex-col h-2/3 justify-between h-full'>
                    <img src="{% static 'italy-ico.jpeg' %}" alt='Italian' class='h-auto w-12 md:w-16 mx-auto rounded'>
                    <span class='hidden md:block md:pt-2'>Business Fluent</span></p>
                <p class='flex flex-col h-2/3 justify-between h-full'>
                    <img src="{% static 'english-ico.png' %}" alt='English' class='h-auto w-12 md:w-16 mx-auto rounded'>
                    <span class='hidden md:block md:pt-2'>Business Fluent</span></p>
            </div>
        </div>
    </div>

    <div class='bg-white row-start-2 lg:row-start-3 shadow w-full mx-auto p-8 lg:px-16 text-sm md:text-lg text-center lg:col-span-2'>
        Tech-driven data analyst with 2+ years of experience in transforming raw data into meaningful insights.<br/>
        In depth knowledge of database management, programming languages such as Python and SQL and data visualization 
        techniques to help management take the most informed decision.
    </div>
</div>
{% endblock %}