{% extends 'base.html' %}
{% block projects %}

<div class='grid grid-cols-1 lg:grid-cols-3 gap-8 text-xs md:text-base mt-4 lg:mt-16'>
    {% for project in projects %}
    <a href='{{ project.link }}' class='relative bg-white h-full shadow hover:shadow-2xl p-2'>
        <img src="{{ project.image.url }}" alt='project image' class='object-cover mx-auto lg:h-64'>
        <p class='font-bold text-center text-sm md:text-base my-2 lg:h-8'>{{ project.title }}</p>
        <p class='lg:mb-8'>{{ project.short_descr }}</p>
        <p class='lg:absolute bottom-0 italic font-medium text-gray-700 mt-2'>{{ project.tags }}</p>
    </a>
    {% endfor %}

    <a href='https://github.com/PierreMrt/' class='bg-white lg:col-span-3 mt-8 lg:mb-48 py-4 text-sm md:text-base text-center shadow hover:shadow-2xl'>
        And many more on <span class='underline'>GitHub</span> !</a>
</div>

{% endblock %}